# === Python ===
__pycache__/
*.py[oc]
*.py[cod]
*.so
*.pyc
*.pyo
*.egg
*.egg-info/
wheels/
dist/
build/
*.log

# === VS Code ===
.vscode/
*.code-workspace
*.swp
*.swo

# === OS-specific files ===
.DS_Store
Thumbs.db

# === Test and coverage tools ===
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# === Environment files ===
.env
.env.*
.venv/
env/
venv/

# === Others ===
test.txt
future_features.md
